/* colour scheme */
/* http://metrocolor.live */
@import url('https://fonts.googleapis.com/css?family=Assistant:400,700');
@import url('https://fonts.googleapis.com/css?family=Rosario');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600);
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css");
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');

body {
  font-family: 'Assistant', sans-serif;
  color: #1a2a3a;
}
h1, h2, h3 {
  margin-top: 5px;
  margin-bottom: 0;
  color: #8c1515;
}
.remark-slide-content h1 { font-size: 55px; }
.remark-slide-content h2 { font-size: 45px; }
.remark-slide-content h3 { font-size: 35px; }
.remark-slide-content {
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  display: table-cell;
  font-size: 30px;
  padding: 0px 30px 0px 30px;
}
.footnote {
  position: absolute;
  bottom: 2em;
  font-style: italic;
  font-size: 70%;
  padding-right: 4em;
}

/* fancy lists and ordered list icons */
li { line-height: 1.2em; }
li p { line-height: 1.15em; }
ol {
	list-style: none;
	counter-reset: li;
}
ol li {
	counter-increment: li
}
ol li::before {
	content: ". "counter(li);
	color: #8c1515;
	display: inline-block;
	width: 1em;
	margin-right: 0.5em;
	text-align: right;
	direction: rtl;
}
ul li {
  list-style-type: none;
}

ul li li {
  font-size: 85%;
}
ul li:before {
  content: "\f138";
  font-family: "Font Awesome\ 5 Free";
  margin-right: 10px;
  color: #8c1515;
  font-weight: 900;
}
ul li li:before {
  content: "\f0a4";
  font-family: "Font Awesome\ 5 Free";
  margin-right: 10px;
  font-weight: 900;
}
.x ul li:before {
  content: "\f00d";
  font-family: "Font Awesome\ 5 Free";
  color: #8c1515;
  font-weight: 900;
}
.checked ul li:before {
  content: "\f00c";
  font-family: "Font Awesome\ 5 Free";
  color: #8c1515;
  font-weight: 900;
}

/*color definitions */
.purple{ color: #c077af; }
.red { color: #ef342a; }
.orange { color: #f57125; }
.blue { color: #22b6ed; }
.green { color: #1fb27f; }
.yellow { color: #faca07; }
.brown {color: #a84d18; }
.SUCardinal {color: #8c1515;}
.SUCoolGray {color: #4d4f53;}
.SUBlack {color: #2e2d29;}
.SUBrightRed {color: #B1040E;}
.SUChocolate {color: #2F2424;}
.SUStone {color: #544948;}
.SUFog {color: #F4F4F4;}
.SULightSandstone {color: #F9F6EF;}
.SUSandstone {color: #d2c295;}
.SUWarmGray {color: #3f3c30;}
.SUBeige {color: #9d9573;}
.SULightSage {color: #c7d1c5;}
.SUClay {color: #5f574f;}
.SUCloud {color: #dad7cb;}
.SUDriftwood {color: #b6b1a9;}
.SUSandhill {color: #b3995d;}
.SUPaloAlto {color: #175e54;}
.SUTeal {color: #00505c;}
.SUPurple {color: #53284f;}
.SURedwood {color: #8d3c1e;}
.SUBrown {color: #5e3032;}
.SUSky {color: #0098db;}
.SULagunita {color: #007c92;}
.SUMint {color: #009b76;}
.SUGold {color: #b26f16;}
.SUSun {color: #eaab00;}
.SUPoppy {color: #e98300;}
.SUBrightBlue {color: #006CB8;}
.SUBlue {color: #00548f;}
/* end of color definitions */

.rotate-45 {transform: rotate(45deg); }


.large { font-size: 120%; }
.small { font-size: 80%; }
.smaller{ font-size: 60%}
.tiny{ font-size: 40%}
.center {
  text-align: center;
}

a, a > code {
  text-decoration: none;
  color: #006cb8;
}
code {
  background: #f8f8f8;
  border-radius: 5px;
}
.remark-code, .remark-inline-code { font-family: 'Source Code Pro'; font-size: 80%; }
.remark-code, .remark-code-line { font-family: 'Source Code Pro'; font-size: 82%; }
.remark-code-line-highlighted {
  background-color: #d0e4a9;
}

img, video, iframe {
  max-width: 100%;
}
#slideshow .slide .content code {
  font-size: 0.8em;
}
#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}
.inverse {
  background: #8c1515;
  color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
}
.inverse a {
  color: #b2d68c;
}
.inverse h1, .inverse h2 {
  color: #ffffff;
  font-size: 72px;
  line-height: 1.2em;
}

/* Slide-specific styling */
#slide-inverse .footnote {
  bottom: 12px;
  left: 20px;
}
#slide-how .slides {
  font-size: 0.9em;
  position: absolute;
  top:  151px;
  right: 140px;
}
#slide-how .slides h3 {
  margin-top: 0.2em;
}
#slide-how .slides .first, #slide-how .slides .second {
  padding: 1px 20px;
  height: 90px;
  width: 120px;
  -moz-box-shadow: 0 0 10px #777;
  -webkit-box-shadow: 0 0 10px #777;
  box-shadow: 0 0 10px #777;
}
#slide-how .slides .first {
  background: #fff;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
}
#slide-how .slides .second {
  position: relative;
  background: #fff;
  z-index: 0;
}


/* Parameters of the title slie */
.title-slide {
  background: #8c1515;
  background-image: url(../Figs/Logos/SUaerial.gif);
  background-size: cover;
}

.title-slide h1 {
  font-family: 'Rosario', sans-serif;
  font-size: 80px;
  line-height: 1.1em;
  color: #f4f4f4;
  text-align: left !important;
  vertical-align: middle !important;
}

.title-slide h2 {
  font-family: 'Rosario', sans-serif;
  font-size: 70px;
  line-height: 1.1em;
  color: #007c92;
  text-align: center !important;
  vertical-align: middle !important;
}


.title-slide h3 {
  font-family: 'Caveat', cursive;
  font-size: 45px;
  line-height: 1.8em;
  color: #d2c295;
  text-align: left !important;
}
/* end of Parameters of the title slie */

/* Slide number parameters */
.remark-slide-number {
  font-size: 18pt;
  color: #FFFFFF;
  margin-bottom: -11.6px;
  margin-right: 10px;
  opacity: 1;
}
.title-slide .remark-slide-number {
  display: none;
}
/* end of Slide number parameters */

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 50px 10px;
  padding: 10px 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
  font-size: 18px;
}

/*blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 18;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
*/

.alert {
  border-color: #8c1515;
  border-width: 3px;
  border-style: solid;
  background: #ffffff;
}

.card {
  display: inline-block;
  background: #fff;
  box-shadow: 0 2px 4px 0 #00000033;
  transition: all 0.2s ease-out;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.card img {
  display: block;
  padding-bottom: 10px;
  height: 180px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

/* talk-specific */

.title-slide img {
  height: 6.5rem;
  width: auto;
  display: inline;
}

.pipeline img {
  display: block;
  position: absolute;
  margin-left: 28%;
  margin-top: 20%;
}

.encoding {
  font-family: 'Libre Barcode 128 Text', cursive;
}

/* Footer with title parameters */
div.my-footer {
  background-color: #8c1515;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 32px;
  width: 100%;
}
div.my-footer span {
  font-size: 18pt;
  color: #ffffff;
  position: absolute;
  left: 15px;
  bottom: 1px;
}



/* Helpers */

.img90 { width: 90%;}
.img80 { width: 80%;}
.img70 { width: 70%;}
.img60 { width: 60%;}
.img50 { width: 50%;}
.img40 { width: 40%;}
.img30 { width: 30%;}
.img20 { width: 20%;}
.img10 { width: 10%;}


.mjx-chtml{ font-size: 95% !important; }

/* table format stufft */
.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 2px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee }


/**********
 *
 * Image stuff
 *
 ************/


.polaroid img {
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #111;
    -moz-box-shadow: 3px 3px 3px #111;
    box-shadow: 3px 3px 3px #111;
}

.shadow {
    border-radius: 15px;
    box-shadow: 4.2px 4.5px 2.5px rgba(65, 65, 65, 0.737);
}



/******************
 *
 * Coloured content boxes
 *
 ****************/


.content-box {
    box-sizing: content-box;
    	background-color: #e2e2e2;
  /* Total width: 160px + (2 * 20px) + (2 * 8px) = 216px
     Total height: 80px + (2 * 20px) + (2 * 8px) = 136px
     Content box width: 160px
     Content box height: 80px */
}

.content-box-SUcardinal,
.content-box-blue,
.content-box-gray,
.content-box-grey,
.content-box-neutral,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-yellow {
    border-radius: 15px;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
    width: 100%;
}

.content-box-SUcardinal {
    /* set opacity in last decimal value of rgba */
    background-color: rgb(140,21,21);
    background-color: rgba(140,21,21,.85);

}


.content-box-blue {
    /* set opacity in last decimal value of rgba */
    background-color: rgb(51,153,153);
    background-color: rgba(51,153,153,.85);

}

.content-box-gray {
    /* set opacity in last decimal value of rgba */
    background-color: rgb(102, 102, 102);
    background-color: rgba(102, 102, 102,.85);
}

.content-box-grey {
  /* set opacity: uncomment rgba line */
  /* alter opacity with last decimal value of rgba */
	background-color: rgb(181, 181, 181);
  /* background-color: rgba(181, 181, 181,.85); */
}

.content-box-neutral {
  background-color: #988675;
}
.content-box-green {
  /* set opacity in last decimal value of rgba */
	background-color: rgb(161, 183, 13);
  background-color: rgba(161, 183, 13,.85);
}

.content-box-purple {
  /* set opacity in last decimal value of rgba */
	background-color: rgb(153, 51, 153);
  background-color: rgba(153, 51, 153, .85)
}

.content-box-red {
  /* set opacity in last decimal value of rgba */
	background-color: rgb(204, 51, 0);
  background-color: rgba(204, 51, 0,.85)
}

.content-box-yellow {
  /* set opacity in last decimal value of rgba */
	background-color: rgb(255, 217, 96);
  background-color: rgba(255, 217, 96, .85)
}


.full-width {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
}
/*******************
 *
 * Text alignment / justification
 *
 *******************/

.justify-left {
  text-align: left;
}

.justify-right {
  text-align: right;
}

.justify-center {
  text-align: center;
}


/* from Sharing-short-notice project */
/* --------------Even split- 3 columns--------------- */

.flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.column {
  float: left;
  width: 25%;
  text-align: center;
  padding-left: 30px;
}


/*-------*/


.columns {
  display: flex;
  padding-left: 20px;
}

.left-col {
  width: 33%;
  text-align: left;
}

.middle-col {
  width: 33%;
  text-align: left;
  padding-left: 20px;
}

.right-col {
  width: 33%;
  text-align: left;
  padding-left: 20px;
}

/* five-column layout */

.column-5 {
  float: left;
  width: 20%;
  text-align: center;
}

/* Wider cols */

.right-wide {
  width: 60%;
  float: right;
  padding-top: 1em;
}

.left-narrow {
  width: 40%;
  float: left;
  padding-top: 1em;
}

.left-wide {
  width: 60%;
  float: left;
  padding-top: 1em;
}

.right-narrow {
  width: 40%;
  float: right;
  padding-top: 1em;
}


/* Two-column layout before it was 20, 75 */
.left-column {
  color: #111;
  width: 30%;
  height: 92%;
  float: left;
  font-size: 18px;
}
  .left-column h2:last-of-type, .left-column h3:last-child {
    color: #000;
  }
.right-column {
  width: 68%;
  float: right;
  padding-top: 0em;
}
.left-column1 {
  color: #111;
  width: 36%;
  height: 92%;
  float: left;
  font-size: 18px;
}
.right-column1 {
  width: 61%;
  float: right;
  padding-top: 0em;
}
.right-column2 {
  color: #111;
  width: 36%;
  height: 92%;
  float: right;
  font-size: 18px;
}
.left-column2 {
  width: 61%;
  float: left;
  padding-top: 0em;
}
.right-column3 {
  width: 30%;
  height: 92%;
  float: right;
  font-size: 18px;
}
.left-column3 {
  width: 68%;
  float: left;
  padding-top: 0em;
}

.pull-left {
  float: left;
  width: 49%;
}
.pull-right {
  float: right;
  width: 49%;
}
.pull-right ~ p {
  clear: both;
}
